.room {
    width: 270px;
    height: 257px;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    margin-bottom: 150px;
}

.room-slider {
    position: relative;
}

.room-slider__inner {
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}

.room-slider__img {
    float: left;
    width: 25%;
    height: 150.89px;
    object-fit: cover;
}

.room-slider__controls {
    display: flex;
    justify-content: space-between;    
}

.room-slider__prev-button,
.room-slider__next-button {
    width: 152px;
    height: 44px;
    color: #fff;
    font-family: 'Material Icons';
    font-size: 24px;
    line-height: 24px;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    user-select: none;
}

.room-slider__prev-button {
    transform: rotate(90deg);
    right: 172px;
    bottom: 35%;
    border-radius: 0 0 0 4px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
}

.room-slider__next-button {
    transform: rotate(-90deg);
    left: 172px;
    bottom: 35%;
    border-radius: 0 0 4px 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
}

.room-slider__dots {
    position: absolute;
    top: 130px;
    left: 210px;
    display: block;
    width: 50px;
    padding: 0;
    list-style: none;
    z-index: 100;
}
  
.room-slider__dots li {
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 2px;
    padding: 0;
    cursor: pointer;
}
  
.room-slider__dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 8px;
    height: 8px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
  
.room-slider__dots li button:hover,
.room-slider__dots li button:focus {
    outline: none;
}
  
.room-slider__dots li button:hover:before,
.room-slider__dots li button:focus:before {
    opacity: 1;
}
  
.room-slider__dots li button:before {
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    content: url('/assets/img/bordered-dot.png');
    text-align: center;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     
}
  
.room-slider__dots li.slick-active button:before {
    content: url('/assets/img/filled-dot.png');
}

.room-info {
    width: 233px;
    height: 67px;
    background-color: #fff;
    margin: 20px;

}

.room__info h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}

.room-info p {
    color: $DarkShade50;
    margin-left: auto;
}

.room__specc {
    display: flex;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    padding-bottom: 10px;
}

.room__specc span {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: $PrimaryColor;
    font-size: 12px;
    line-height: 15px;
    padding-left: 5px;
    padding-top: 5px;
}

.room__rating {
    display: flex;
    font-size: 14px;
    line-height: 18px;
    padding-top: 8px;
}