mixin room
    .room
        .room-slider
            input.room-slider__input(type="radio" id="rsb1" checked)
            input.room-slider__input(type="radio" id="rsb2")
            input.room-slider__input(type="radio" id="rsb3")
            input.room-slider__input(type="radio" id="rsb4")
            .room-slider__controls
                label.room-slider__label(for="rsb1")
                label.room-slider__label(for="rsb2")
                label.room-slider__label(for="rsb3")
                label.room-slider__label(for="rsb4")
            .room-slider__inner
                img.room-slider__image(src="/assets/img/room-img_1.jpg", alt="")
                img.room-slider__image(src="", alt="")
                img.room-slider__image(src="", alt="")
                img.room-slider__image(src="", alt="")