mixin subscription-text-field(title, id, placeholder, value)
    .subscription-text-field
        label(for=id class="subscription-text-field__label")= title
        input(class="subscription-text-field__input" type="email" name=id placeholder=placeholder value=value)
        input(class="subscription-text-field__button material-icons" type="button" value="arrow_forward")
