.button__group button {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
}

.filled__button,
.unfilled__button {
    display: inline-block;
    text-align: center;
    width: 99px;
    height: 44px;
    border-radius: 22px;
}

.filled__button {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: #fff;

    &:active,
    &:hover {
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        opacity: 0.5;
    }
}

.unfilled__button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid 2px transparent;
    background-image: linear-gradient(white, white), linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    color: $PrimaryColor;
    background-origin: border-box;
    background-clip: content-box, border-box;
    -webkit-background-clip: content-box, border-box;
}

.unfilled__button:hover {
    background-image: linear-gradient(white, white), linear-gradient(180deg, rgba(188,158,255,0.5) 0%, rgba(139,164,249,0.5) 100%);
}


.unbordered__button-purple {
    display: inline-block;
    background: none;
    color: $PrimaryColor;
}

.unbordered__button-gray {
    display: inline-block;
    background: none;
    color: $DarkShade50
}

.large__button {
    display: inline-block;
    width: 320px;
    height: 44px;
    border-radius: 22px;
    color: #fff;
    background: url('/assets/img/arrow_forward.svg') no-repeat right 15px center,  linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

    &:hover,
    &:active {
        opacity:  0.5;
    }
}