mixin guest-dropdown(title, description, value)
    .guest-dropdown
        span.guest-dropdown__description= description
        label(for="guest-dropdown-input" class="guest-dropdown__label")= title
        .guest-dropdown__body
            input(class="guest-dropdown__input" type="text" value=value readonly)
            button(class="guest-dropdown__button" type="button") keyboard_arrow_down
            ul(class="guest-dropdown__inner guest-dropdown__inner_hide")
                li
                    h3 взрослые
                    .guest-dropdown__input__counter
                        button(id="guest-dropdown__minus-button" type="button" class="button__minus" onclick="countMinus()") -
                        span(id="count") 0
                        button(id="guest-dropdown__plus-button" type="button" class="button__plus" onclick="countPlus()") +
                li
                    h3 дети
                    .guest-dropdown__input__counter
                        button(id="guest-dropdown__minus-button" type="button" class="button__minus" onclick="countMinus()") -
                        span(id="count") 0
                        button(id="guest-dropdown__plus-button" type="button" class="button__plus" onclick="countPlus()") +
                li
                    h3 младенцы
                    .guest-dropdown__input__counter
                        button(id="guest-dropdown__minus-button" type="button" class="button__minus" onclick="countMinus()") -
                        span(id="count") 0
                        button(id="guest-dropdown__plus-button" type="button" class="button__plus" onclick="countPlus()") +
                .guest-dropdown__footer
                    +button('unbordered-gray', 'button', 'очистить')
                    +button('unbordered-purple', 'button', 'применить')
