mixin range-slider(title, description)
    .range-slider
        p.range-slider__title
            label(for="amount") #{title}
            input(type="text" id="amount" readonly)
        
        .range-slider__customization#slider-range

        p.range-slider__description #{description}