mixin date-dropdown(startDateField__title, startDateField__value, endDateField__title, endDateField__value)
    .date-dropdown
        label(for="date__start") #{startDateField__title}
            input(id= "date__start" class="date-dropdown__input"  type="text" value=startDateField__value readonly data-multiple-dates-separator=" - ") 
            button(class="date-dropdown__button") expand_more
        label(for="date__end") #{endDateField__title}
            input(id= "date__end" class="date-dropdown__input" type="text" value=endDateField__value readonly) 
            button(class="date-dropdown__button") expand_more
