mixin registration
    .registration
        h1 Регистрация аккаунта
        form(method="link" action="#!")
            .registration__username
                +text-field('','','registration__name','text','Имя','')
                +text-field('','','registration__second-name','text','Фамилия','')
            .registration__radio-buttons
                +radio-button('registration-rbtn', 'rrbtn1', 'Мужчина', checked=true)
                +radio-button('registration-rbtn', 'rrbtn2', 'Женщина')
            .registration__birthday-info    
                +text-field('дата рождения','','registration__birthday','text','ДД.ММ.ГГГГ','')
            .registration__login-info
                +text-field('данные для входа в сервис','','registration__email','email','Email','')
                +text-field('','','registration__pass','password','Пароль','')
            .registration__toggle
                +toggle('registration__toggle','Получать спецпредложения')
            .registration__button
                +button('large', 'submit' ,'перейти к оплате')
        .registration__footer
            p Уже есть аккаунт на Toxin
            +button('unfilled', 'button', 'войти')
