mixin registration
    .registration
        h1 Регистрация аккаунта
        .registration__username
            +text-field('','','registration__name','Имя','')
            +text-field('','','registration__second-name','Фамилия','')
        .registration__radio-buttons
            +radio-button('registration-btn','Мужчина', checked=true)
            +radio-button('registration-btn','Женщина')
        .registration__birthday-info    
            +text-field('дата рождения','','registration__birthday','ДД.ММ.ГГГГ','')
        .registration__login-info
            +text-field('данные для входа в сервис','','registration__email','Email','')
            +text-field('','','registration__pass','Пароль','')
        .registration__toggle
            +toggle('registration__toggle','Получать спецпредложения')
        .registration__button
            +button('large', '#!' ,'перейти к оплате')
        .registration__footer
            p Уже есть аккаунт на Toxin
            +button('unfilled', '#!', 'войти')
