.range-slider {
    width: 266px;
}

.range-slider__title{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.range-slider__description {
    padding-top: 10px;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Montserrat-Regular', serif;
    color: rgba(31, 32, 65, 0.5);
}

.range-slider label {
    font-size: 12px;
    line-height: 15px;
    font-family: 'Montserrat-Bold', serif;
    text-transform: uppercase;
    color: #1F2041;
}

.range-slider input {
    font-size: 12px;
    line-height: 15px;
    font-family: 'Montserrat-Regular', serif;
    text-transform: uppercase;
    text-align: end;
    color: rgba(31, 32, 65, 0.5);
}

.range-slider__customization {
    .ui-slider-handle.ui-corner-all.ui-state-default {
        width: 14px;
        height: 14px;
        border-radius: 10px;
        border: 2px solid #fff;
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    }
    .ui-widget-header {
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    }
}
