mixin logo(logo_type)
    if logo_type==='gray'
        img(src="/assets/img/logo-gray.svg", alt="logo-gray", srcset="" class="logo")
    else if logo_type==='colored'
        img(src="/assets/img/logo-colored.svg", alt="logo-colored", srcset="" class="logo")
