.color_block {
    display: flex;
}

.color_block:nth-last-child(1) {
    padding-bottom: 0;
}

.rectangle {
    width: 70px;
    height: 70px;
    border-radius: 6px;
}

.color_description {
    padding-left: 40px; 
    padding-top: 6px;
    h2, p {
        font-size: 19px;
        line-height: 29px;
    }
    p {
        font-family: 'Quicksand', sans-serif;
        font-weight: normal;
    }
}