.toggle-button {
    display: flex;
    align-items: center;
}

.toggle-button__input {
    margin-right: 10px;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    border: 1px solid $DarkShade25;
    outline: none;
    border-radius: 10px;
    position: relative;
    cursor: pointer;

    &:checked {
        border: 1px solid $PrimaryColor;
        &:before {
            background: $purpleGradient;
            left: 23px;
        }
    }

    &:before {
        content:  '';
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 10px;
        top: 3px;
        left: 3px;
        background:  $DarkShade25;
        transition: .1s;
    }
}

.toggle-button__label {
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: $DarkShade75;
}