mixin pick-room
    .pick-room
        h1 Найдём номера под ваши пожелания
        +date-dropdown('прибытие', 'ДД.ММ.ГГГГ', 'выезд', 'ДД.ММ.ГГГГ')
        +guest-dropdown('гости', '', 'Сколько гостей')
        +button('large', 'button' ,'подобрать номер')