mixin pick-room
    .pick-room
        h1 Найдём номера под ваши пожелания
        +date-dropdown('прибытие', 'ДД.ММ.ГГГГ', 'выезд', 'ДД.ММ.ГГГГ')
        +guest-dropdown('гости', 'default', 'Сколько гостей')
        +button('large', '#!' ,'подобрать номер')