mixin filter-date-dropdown(title, name, value)
    .filter-date-dropdown-header
        h3.date-dropdown-header_title= title
    .filter-date-dropdown
        input(class="filter-date-dropdown__input" type="text" name=name value=value)
        input(class="dropdown__button material-icons md-18" type="button" value="keyboard_arrow_down")