.filter-date__dropdown {
    width: 267px;
}

.filter-date__dropdown label {
    text-transform: uppercase;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 12px;
    line-height: 15px;
}

.filter-date-dropdown__input {
    margin-top: 5px;
    position: relative;
    width: 222px;
    height: 44px;
    background: #FFFFFF;
    border-top: 1px solid $DarkShade25;
    border-left: 1px solid $DarkShade25;
    border-bottom: 1px solid $DarkShade25;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    padding: 13px 0 13px 15px;
    font-family: 'Montserrat-Regular', sans-serif;
    color: $DarkShade75;
    font-size: 14px;
    line-height: 24px;
}

.filter-dropdown__button {
    margin-top: 5px;
    position: absolute;
    width: 44px;
    height: 44px;
    border-top: 1px solid $DarkShade25;
    border-right: 1px solid $DarkShade25;
    border-bottom: 1px solid $DarkShade25;
    border-radius: 0 4px 4px 0;
    background: #FFFFFF;
    color: $DarkShade50;
    font-family: 'Material Icons';
    font-size: 24px;
    line-height: 24px;
    user-select: none;
    &:hover {
        cursor: pointer;
    }
}

