.bullet-list {
    width: 292px;
}

.bullet-list__item {
    position: relative;
    padding: 0 0 0 20px;
    ::before {
        content: "";
		position: absolute;
		left: 0;
		top: 7px;
		width: 10px;
        height: 10px;
        background-color: $DarkShade25;
        border-radius: 50%;
    }
}

.bullet-list p {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $DarkShade75;
    margin-bottom: 10px;
}

.bullet-list__description:nth-last-child() {
    margin-bottom: 0;
}