.tag_name {
  padding-right: 30px; 
  text-align: right;
  font-family: 'Montserrat-Regular', sans-serif;
  color: $DarkShade25;
}

.tag_description {
  padding-bottom: 50px; 
}

h3.tag_description{
  text-transform: uppercase;
}

p.tag_description {
  width: 310px;
}