mixin expandable-checkbox-list(title)
    .checkbox-list
        .checkbox-list__title 
            h3 #{title}
            button(id="checkbox-list__button" class="checkbox-list__button" type="button" onclick="showHideCheckboxList()") expand_more

        +checkbox-list({
            expandable: true,
            items: [
                {
                    id: 'ecbl1',
                    checkbox_description: 'Завтрак',
                },
                {
                    id: 'ecbl2',
                    checkbox_description: 'Письменный стул',
                    isChecked: true,
                },
                {
                    id: 'ecbl3',
                    checkbox_description: 'Стул для кормления',
                    isChecked: true,
                },
                {
                    id: 'ecbl4',
                    checkbox_description: 'Кроватка',
                    isChecked: true,
                },
                {
                    id: 'ecbl5',
                    checkbox_description: 'Телевизор',
                },
                {
                    id: 'ecbl6',
                    checkbox_description: 'Шампунь',
                },
                {
                    id: 'ecbl7',
                    checkbox_description: 'Телевизор',
                },
                {
                    id: 'ecbl8',
                    checkbox_description: 'Шампунь',
                },
            ]
        })

script
    include checkbox-list.js

