include components/logo/logo.pug 
include components/colors/colors.pug
include components/types/types.pug
include components/text-field/text-field.pug
include components/dropdown/dropdown.pug
include components/date-dropdown/date-dropdown.pug
include components/filter-date-dropdown/filter-date-dropdown.pug
include components/subscription-text-field/subscription-text-field.pug
include components/checkbox-buttons/checkbox-buttons.pug
include components/radio-button/radio-button.pug
include components/toggle/toggle.pug
include components/like-button/like-button.pug
include components/rate__button/rate.pug
include components/button/button.pug
include components/range-slider/range-slider.pug
include components/pagination/pagination.pug
include components/checkbox-list/checkbox-list.pug
include components/bullet-list/bullet-list.pug


doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
        title TOXIN
    body



        .group-logo
            +logo('gray')

        .colors-and-types
            ul.colors
                +rectangle('Dark Shade 100%', '#1F2041', '#1F2041')
                +rectangle('Dark Shade 75%', '#1F2041', '#1F2041', '0.75')
                +rectangle('Dark Shade 50%', '#1F2041', '#1F2041', '0.5')
                +rectangle('Dark Shade 25%', '#1F2041', '#1F2041', '0.25')
                +rectangle('Dark Shade 5%', '#1F2041', '#1F2041', '0.05')
                +rectangle('Purple', '#BC9CFF', '#BC9CFF')
                +rectangle('Green', '#6FCF97', '#6FCF97')
            table.types
                +type__h1('H1', 'This one is the sub-section or widget title')
                +type__h2('H2', 'Next one is the item title inside widgets')
                +type__h3('H3', 'This is a label or CTA text')
                +type__body('Body', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.')

        .group-logo
            +logo('gray')

        .form-elements

            .column_first
                .text-field_default
                    +text-field('Text field', 'Default', 'user_email', 'Email')
                .text-field_hover-focus
                    +text-field('Text field', 'Hover/Focus', 'example', 'This is pretty awesome', 'focused')
                .dropdown_default
                    +dropdown('dropdown', 'default', 'Сколько гостей')
                .masked-text-field_default
                    +text-field('Masked text field', 'Default', 'masked-text', 'ДД.ММ.ГГГГ', 'masked')
                .date-dropdowns
                    +date-dropdown('date dropdown', 'ДД.ММ.ГГГГ', 'date dropdown', '19.08.2019')
                .filter-date-dropdown_default
                    +filter-date-dropdown('filter date dropdown','Выберете дату')
                .subscription-text-field_default
                    +subscription-text-field('subscription text field', 'subscription-text-field','Email')

            .column_second
                .checkbox-buttons
                    h3 checkbox buttons
                    +checkbox-list({
                        items: [
                            {
                                id: 'cb1',
                                checkbox_description: 'Можно курить',
                            },
                            {
                                id: 'cb2',
                                isChecked: true,
                                checkbox_description: 'Можно с питомцами',
                            },
                            {
                                id: 'cb3',
                                isChecked: true,
                                checkbox_description: 'Можно пригласить гостей (до 10 человек)',
                            },
                        ]
                    })
                .radio-buttons
                    h3 radio buttons
                    .radio-buttons_flex
                        +radio-button('radio1','Мужчина',checked=true)
                        +radio-button('radio2','Женщина',checked=false)
                .toggle
                    h3 toggle
                    +toggle('toggle1', 'Получать спецпредложения', checked=true)
                    .margin-14
                    +toggle('toggle2', 'Получать спецпредложения', checked=false)
                .like-button
                    h3 like button
                    .like-button_flex
                        +like-button('2')
                        +like-button('12')
                .rate__button
                    h3 rate button
                    .rate__button-flex
                        +rate('general')
                        +rate('example')

            .column_third
                .range-slider__padding
                    +range-slider('range slider')
                .buttons 
                    h3 buttons
                    .buttons__flex
                        +button('filled', '#!', 'click me')
                        .padding-right20
                        +button('filled', '#!', 'click me')
                    .buttons__flex
                        +button('unfilled', '#!', 'click me')
                        .padding-right20
                        +button('unfilled', '#!', 'click me')
                    .buttons__flex
                        +button('unbordered-purple', '#!', 'click me')
                        .padding-right20
                        +button('unbordered-gray', '#!', 'click me')
                    +button('large', '#!' ,'перейти к оплате')
                .pagination__item
                    h3 pagination
                    +pagination('1 – 12 из 100+ вариантов аренды')

            .checkbox-and-bullet
                .expandable-checkbox-list
                    +expandable-checkbox-list('expandable checkbox list')
            
                .rich-checkbox-buttons
                    h3 rich checkbox buttons
                    +checkbox-list({
                        items: [
                            {
                                id: 'rcb1',
                                isRich: true,
                                checkbox_title: 'Широкий коридор',
                                checkbox_description: 'Ширина коридоров в номере не менее 91 см.',
                            },
                            {
                                id: 'rcb2',
                                isRich: true,
                                checkbox_title: 'Помощник для инвалидов',
                                checkbox_description: 'На 1 этаже вас встретит специалист  и проводит до номера.',
                            },
                        ]
                    })

                .bullet-list1
                    h3 bullet list
                    +bullet-list({
                        id: 'bullet-list',
                        items: [
                        {text: 'Нельзя с питомцами'},
                        {text: 'Без вечеринок и мероприятий'},
                        {text: 'Время прибытия — после 13:00, а выезд до 12:00'}
                        ]
                    })